#home-content{
	place-content: center;
	overflow-y: scroll;
}

#home-content .button.large{
	width: 80%;
	border-radius: 1vw;
	border: none;
	padding: 2% 0;
	margin: 3% auto;
	outline: none;
	font-weight: bold;
	box-shadow: 0 0 1.1vw rgba(0,0,0,.4);
	transition: all .3s;
	background: var(--buttonColor) linear-gradient(90deg, rgba(0,0,0,.3), transparent, rgba(0,0,0,.3));
}

#home-content .button.large:hover{
	background: transparent none;
}


.adsbygoogle{
	align-self: flex-end;
	width: 80%;
	height: auto;
}

@media only screen and (orientation: landscape) {
	#home-content .button.large{
		padding: calc(3 * 100vh / 100) 0;
		width: 60%;
		margin: calc(3 * 100vh / 100) auto;
	}
}