#score-content{
	padding: 3% 1%;
	box-sizing: border-box;
	position: relative;
	justify-content: space-between;
	align-content: flex-start;
}

.score{
	box-sizing: border-box;
	color: var(--smokyBlack);
	border-radius: 1.1vw;
	transition: all .2s;
	background-color: #fff;
	grid-column: span 1;
	grid-row: span 1;
	width: 49%;
	margin-bottom: 2%;
	box-shadow: 0 1px 1.3vw rgba(0,0,0,.9);
}

.score > header{
	border-radius: 1.1vw 1.1vw 0 0;
	overflow: hidden;
	background-color: var(--frenchViolet);
	box-shadow: 0 0 1.1vw rgba(0,0,0,.3);
}

.score .icon{
	align-self: flex-end;
}

.icon.crown{
	width: 7vw;
	height: 7vw;
	fill: yellow;
	margin-right: 2%;
}

.icon.place{
	margin: 0;
	flex: 1 0 auto;
	font-size: 1.2em;
}

.icon.delete{
	width: 7vw;
	height: 7vw;
}

#no-content, #no-content.off{
	color: transparent;
	display: none;
	position: absolute;
	top: 40%;
	text-align: center;
	width: 100%;
	font-size: 1.1em;
}

#no-content.on{
	color: var(--dogwoodRose);
	display: inline;
}

.score > .content{
	display: flex;
	padding: 2%;
	flex-wrap: wrap;
}

.score > .content h3{
	color: var(--frenchViolet);
	width: 90%;
	flex: 1 0 auto;
	margin: 5% 0 2%;
	font-size: .90em;
}

.score h3:first-of-type{
	margin-top: 0;
}

.score > .content span{
	flex: 1 0 auto;
	width: 90%;
}

@media only screen and (orientation: landscape) {
	.icon.crown, .icon.delete{
		height: 7vh;
		width: 7vh;
	}
}