#modal{
	position: absolute;
	width: 100vw;
	height: 100%;
	place-content: center;
	place-items: center;
	background-color: rgba(26,24,26,.7);
}

#modal > .container{
	width: 90%;
	height: 70%;
	border-radius: 7px;
	z-index: 8001;
	overflow: hidden;
	display: flex;
	flex-direction: column;
	box-shadow: 0 0 2rem rgba(49,45,49,.8);
	color: #fff;
	background-color: var(--smokyBlack);
}

#modal > .container header{
	width: 100%;
	box-sizing: border-box;
	z-index: 90;
	background-color: var(--frenchViolet);
	box-shadow: 0 1px 3px rgba(0,0,0,.5);
}

#modal > .container header #title{
	flex: 1 0 auto;
	text-align: center;
	font-size: 2rem;
}

#close{
	flex: 0 0 auto;
	font-size: 1.8rem;
	font-weight: bold;
	align-self: center;
}

#modal > .container > .content{
	flex: 1 0 auto;
	margin: 0;
	padding: 1px;
	box-sizing: border-box;
	overflow-y: scroll;
}

#modal > .container > .content li{
	list-style: none;
	padding: 2%;
}

#modal > .container li:nth-child(odd){
	color: var(--malachite);
	font-weight: bold;
}

#modal > .container li:nth-child(even){
}

#modal > .container footer{
	box-sizing: border-box;
	box-shadow: 0 -1px 3px rgba(0,0,0,.5);
}

#modal > .container button{
	width: 49%;
	border: none;
	padding: 2%;
	box-sizing: border-box;
	outline: none;
	font-weight: bold;
	transition: all .2s;
	margin: 1%;
	border-radius: 5px;
	color: #fff;
	background-color: var(--frenchViolet);
}

#modal > .container button:hover{
	background-color: #fff;
	color: var(--frenchViolet);
}

#modal > .container button > svg{
	width: 5vw;
	height: 5vw;
	vertical-align: bottom;
}

#modal > .container .container{
	display: flex;
}
