#play, #pause{
	width: 9vw;
	height: 9vw;
	stroke-width: 0;
	fill: #fff;
	justify-self: end;
	grid-column: 2 / span 1;
}

.block-container{
	height: 100%;
	width: auto;
	flex: 0 0 auto;
}

.dot{
	stroke-width: .5px;
	stroke: rgba(0,0,0,.3);
	box-sizing: border-box;
}

#side{
	height: 100%;
	color: #fff;
	flex: 1 0 auto;
	padding: 1%;
	width: 10%;
	background-color: var(--xiketic);
}

#side h3{
	margin: 1%;
	color: var(--malachite);
}

/*playing time*/
#side h3:first-of-type{
	font-size: 1.4rem;
}

/*next*/
#side h3:last-of-type{
	display: inline-block;
	margin-right: 10%;
}

#side h4, #side span{
	margin: 1% 1% 10%;
}

#next.container{
	width: 40%;
	height: auto;
	display: block;
	margin-top: 10%;
}

footer{
	background-color: var(--blackCoffee);
}

footer > .container{
	width: 100%;
	display: grid;
	grid-template-columns: repeat(5, 1fr);
	grid-auto-rows: 1fr;
	grid-column-gap: 10%;
}

footer > .container .button{
	height: auto;
	width: 100%;
	place-self: center;
	stroke: var(--lavenderWeb);
	border-radius: 50%;
}

.container .button.spin{
	fill: var(--lavenderWeb);
}

.container .button:hover{
	animation: buttonClick .8s;
}

@keyframes buttonClick{
	from{
		width: 90%;
	}
}