#play, #pause{
	width: 9vw;
	height: 9vw;
	stroke-width: 0;
	fill: var(--lavenderWeb);
}

.block-container{
	height: 100%;
	width: auto;
	flex: 0 0 auto;
}

.dot{
	stroke-width: .5px;
	stroke: rgba(0,0,0,.3);
	box-sizing: border-box;
}

#side{
	height: 100%;
	color: var(--lavenderWeb);
	flex: 1 0 auto;
	padding: 1%;
	width: 10%;
	background-color: var(--xiketic);
	box-sizing: border-box;
}

#side h3{
	margin: 1%;
	color: var(--malachite);
}

/*next*/
#side h3:last-of-type{
	display: inline-block;
	margin-right: 10%;
}

#side h4, #side span{
	margin: 1% 1% 10%;
}

#next.container{
	width: 40%;
	height: auto;
	display: block;
	margin: 10% 0 0 1%;
	box-sizing: border-box;
}

#root > footer{
	background-color: var(--blackCoffee);
}

#root > footer > .container{
	width: 100%;
	display: grid;
	grid-template-columns: repeat(5, 1fr);
	grid-auto-rows: 1fr;
	grid-column-gap: 10%;
}

footer > .container .button{
	height: auto;
	width: 100%;
	place-self: center;
	stroke: var(--lavenderWeb);
	border-radius: 50%;
}

.container .button.spin{
	fill: var(--lavenderWeb);
}

.container .button:hover{
	animation: buttonClick .7s;
}

@keyframes buttonClick{
	from{
		width: 90%;
	}
}

@media only screen and (orientation: landscape) {
	#play, #pause{
		height: 9vh;
		width: 9vh;
	}
	
	#side > .container{
		display: grid;
		height: 100%;
		grid-template-columns: repeat(2, 1fr);
		grid-auto-rows: 1fr;
	}
	
	#side > .container > *:not(#next) {
		grid-column: 1 / span 1;
		grid-row: span 1;
		margin: 0;
	}

	#next.container{
		grid-column: 2 / span 1;
		grid-row: 1 / span 8;
		margin: 0;
		height: 100%;
		width: auto;
		justify-self: end;
		padding: 1vh;
		border: 1vh groove var(--lavenderWeb);
		border-right: none;
		border-bottom: none;
	}

	footer .container .button{
		width: 10vh;
		height: 10vh;
	}
	
	@keyframes buttonClick{
		from{
			height: 9vh;
			width: 9vh;
		}
	}
}