:root{
	--smokyBlack: #141314;
	--raisinBlack: #262426;
	--darkLiver: #3F3E49;
	--dogwoodRose: #DA0061;
	--frenchViolet: #7100D9;
	--sheenGreen: #6ADB00;
	--malachite: #00DB71;
}

html,
body{
	padding: 0;
	margin: 0;
	width: 100%;
	height: 100%;
	font-size: 62.5%;
	overflow: scroll;
	user-select: none;
	background-color: var(--raisinBlack);
}

#root{
	display: flex;
	height: 100%;
	width: 100%;
	font-size: 1.4rem;
	flex-flow: column;
	overflow: scroll;
}

header{
	background-color: var(--frenchViolet);
	box-shadow: 0 1px 3px rgba(0,0,0,.8);
}

header > .container{
	display: grid;
	grid-auto-columns: repeat(2, 1fr);
	padding: 2%;
}

header #title{
	font-size: 2.5rem;
	margin: 0;
	grid-column: 1 / span 1;
}

#root > .content{
	flex: 1 1 auto;
	width: 100%;
	height: 50%;
	display: flex;
}

header,
footer{
	color: #fff;
	padding: 1%;
	width: 100%;
	box-sizing: border-box;
}

footer{
	background-color: var(--smokyBlack);
}